// Font

$Font: "Poppins", sans-serif;
$Font-Size-h1: 126px;
$Font-Size-h2: 52px;
$Font-Size-h3: 24px;
$Font-body: 18px;
$Font-special : 64px;

// Font weight
$Font-light : 300;
$Font-regular : 400;
$Font-medium : 500;
$Font-semi-bold : 600;
$Font-italic : italic;

// Color

$White: #ffffff;
$Green: #B2D234;
$Dark-grey: #606060;
$Blue : #60A0D8;


//Line height
$Line-height-h1: 189px;
$Line-height-h2: 66px;
$Line-height-h3: 30px;
$Line-height-body : 24px;

// Spacing

$Margin-40 : 40px;