@charset "UTF-8";
/* ce fichier est utilisé pour réinitialiser les styles par défaut du navigateur */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header__background__block__logo {
  font-family: "Poppins", sans-serif;
  font-size: 126px;
  font-weight: 500;
  line-height: 189px;
}

.fifth-section__right-content__text h2, .third-section__block-top__title, .fourth-section__content__card h2, .second-section__content h2, .first-section__content h2 {
  font-family: "Poppins", sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 66px;
}

.third-section__block-bottom__menu__card__title, .footer__info h3, .fifth-section__right-content .form__section label {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.fifth-section__right-content__text p, .third-section__block-right p, .third-section__block-bottom__menu__card p, .third-section__block-top__content, .fourth-section__content__card__list li, .second-section__content p, .first-section__content p, .footer__info ul li {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.third-section__block-right__subtitle, .header__background__block__accroche {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: italic;
  line-height: 1;
}

.header__nav__content li a {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

.header__background__block__logo {
  font-family: "Poppins", sans-serif;
  font-size: 126px;
  font-weight: 500;
  line-height: 189px;
}

.fifth-section__right-content__text h2, .third-section__block-top__title, .fourth-section__content__card h2, .second-section__content h2, .first-section__content h2 {
  font-family: "Poppins", sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 66px;
}

.third-section__block-bottom__menu__card__title, .footer__info h3, .fifth-section__right-content .form__section label {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.fifth-section__right-content__text p, .third-section__block-right p, .third-section__block-bottom__menu__card p, .third-section__block-top__content, .fourth-section__content__card__list li, .second-section__content p, .first-section__content p, .footer__info ul li {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.third-section__block-right__subtitle, .header__background__block__accroche {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: italic;
  line-height: 1;
}

.header__nav__content li a {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

.header__nav__content li a {
  color: #ffffff;
  text-decoration: none;
}
.header__nav__content li a:visited {
  color: #ffffff;
}

.fifth-section__right-content button, .third-section__block-right button, .first-section__content button, .second-section__content button, .header__nav__content li button {
  color: #ffffff;
  background-color: #B2D234;
  border: none;
  outline: none;
  font-size: 24px;
  font-weight: 600;
  padding: 14px 60px;
  border-radius: 5px;
  box-shadow: 0px 8px 20px 2px rgba(0, 0, 0, 0.15);
}

.second-section__content button, .header__nav__content li button {
  background-color: #ffffff;
  color: #B2D234;
  box-shadow: 0px 8px 20px 2px rgba(0, 0, 0, 0.15);
}

.header__nav__content li button {
  padding: 9px 30px;
  font-size: 15px;
  box-shadow: none;
}

.fifth-section__right-content .form__section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.fifth-section__right-content .form__section label {
  color: #B2D234;
}
.fifth-section__right-content .form__section input {
  width: 100%;
  height: 45px;
  border: 1px solid #606060;
  margin-top: 8px;
}

.header__background__block__logo {
  font-family: "Poppins", sans-serif;
  font-size: 126px;
  font-weight: 500;
  line-height: 189px;
}

.fifth-section__right-content__text h2, .third-section__block-top__title, .fourth-section__content__card h2, .second-section__content h2, .first-section__content h2 {
  font-family: "Poppins", sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 66px;
}

.third-section__block-bottom__menu__card__title, .footer__info h3, .fifth-section__right-content .form__section label {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.fifth-section__right-content__text p, .third-section__block-right p, .third-section__block-bottom__menu__card p, .third-section__block-top__content, .fourth-section__content__card__list li, .second-section__content p, .first-section__content p, .footer__info ul li {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.third-section__block-right__subtitle, .header__background__block__accroche {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: italic;
  line-height: 1;
}

.header__nav__content li a {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

.header__background__block__logo {
  font-family: "Poppins", sans-serif;
  font-size: 126px;
  font-weight: 500;
  line-height: 189px;
}

.fifth-section__right-content__text h2, .third-section__block-top__title, .fourth-section__content__card h2, .second-section__content h2, .first-section__content h2 {
  font-family: "Poppins", sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 66px;
}

.third-section__block-bottom__menu__card__title, .footer__info h3, .fifth-section__right-content .form__section label {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.fifth-section__right-content__text p, .third-section__block-right p, .third-section__block-bottom__menu__card p, .third-section__block-top__content, .fourth-section__content__card__list li, .second-section__content p, .first-section__content p, .footer__info ul li {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.third-section__block-right__subtitle, .header__background__block__accroche {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: italic;
  line-height: 1;
}

.header__nav__content li a {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

.header__nav__content li a {
  color: #ffffff;
  text-decoration: none;
}
.header__nav__content li a:visited {
  color: #ffffff;
}

.fifth-section__right-content button, .third-section__block-right button, .first-section__content button, .second-section__content button, .header__nav__content li button {
  color: #ffffff;
  background-color: #B2D234;
  border: none;
  outline: none;
  font-size: 24px;
  font-weight: 600;
  padding: 14px 60px;
  border-radius: 5px;
  box-shadow: 0px 8px 20px 2px rgba(0, 0, 0, 0.15);
}

.second-section__content button, .header__nav__content li button {
  background-color: #ffffff;
  color: #B2D234;
  box-shadow: 0px 8px 20px 2px rgba(0, 0, 0, 0.15);
}

.header__nav__content li button {
  padding: 9px 30px;
  font-size: 15px;
  box-shadow: none;
}

.fifth-section__right-content .form__section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.fifth-section__right-content .form__section label {
  color: #B2D234;
}
.fifth-section__right-content .form__section input {
  width: 100%;
  height: 45px;
  border: 1px solid #606060;
  margin-top: 8px;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-image: url("img/Header-back.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
.header__filtre {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100%;
  background: linear-gradient(140deg, rgba(96, 160, 216, 0.8) 0, rgba(178, 210, 52, 0.8) 100%);
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  margin: 25px;
  width: 95%;
}
.header__nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 55%;
}
.header__nav__content li {
  list-style: none;
}
.header__background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80%;
}
.header__background__block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.header__background__block__logo {
  color: #ffffff;
}
.header__background__block__accroche {
  color: #ffffff;
  transform: rotate(-9deg);
  margin-left: 200px;
}
.header__background__social {
  align-self: flex-end;
  margin-right: 47px;
}
.header__background__social img {
  height: 30px;
  width: auto;
  margin-right: 5px;
  margin-left: 5px;
}

.header__background__block__logo {
  font-family: "Poppins", sans-serif;
  font-size: 126px;
  font-weight: 500;
  line-height: 189px;
}

.fifth-section__right-content__text h2, .third-section__block-top__title, .fourth-section__content__card h2, .second-section__content h2, .first-section__content h2 {
  font-family: "Poppins", sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 66px;
}

.third-section__block-bottom__menu__card__title, .footer__info h3, .fifth-section__right-content .form__section label {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.fifth-section__right-content__text p, .third-section__block-right p, .third-section__block-bottom__menu__card p, .third-section__block-top__content, .fourth-section__content__card__list li, .second-section__content p, .first-section__content p, .footer__info ul li {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.third-section__block-right__subtitle, .header__background__block__accroche {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: italic;
  line-height: 1;
}

.header__nav__content li a {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

.header__background__block__logo {
  font-family: "Poppins", sans-serif;
  font-size: 126px;
  font-weight: 500;
  line-height: 189px;
}

.fifth-section__right-content__text h2, .third-section__block-top__title, .fourth-section__content__card h2, .second-section__content h2, .first-section__content h2 {
  font-family: "Poppins", sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 66px;
}

.third-section__block-bottom__menu__card__title, .footer__info h3, .fifth-section__right-content .form__section label {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.fifth-section__right-content__text p, .third-section__block-right p, .third-section__block-bottom__menu__card p, .third-section__block-top__content, .fourth-section__content__card__list li, .second-section__content p, .first-section__content p, .footer__info ul li {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.third-section__block-right__subtitle, .header__background__block__accroche {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: italic;
  line-height: 1;
}

.header__nav__content li a {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

.header__nav__content li a {
  color: #ffffff;
  text-decoration: none;
}
.header__nav__content li a:visited {
  color: #ffffff;
}

.fifth-section__right-content button, .third-section__block-right button, .first-section__content button, .second-section__content button, .header__nav__content li button {
  color: #ffffff;
  background-color: #B2D234;
  border: none;
  outline: none;
  font-size: 24px;
  font-weight: 600;
  padding: 14px 60px;
  border-radius: 5px;
  box-shadow: 0px 8px 20px 2px rgba(0, 0, 0, 0.15);
}

.second-section__content button, .header__nav__content li button {
  background-color: #ffffff;
  color: #B2D234;
  box-shadow: 0px 8px 20px 2px rgba(0, 0, 0, 0.15);
}

.header__nav__content li button {
  padding: 9px 30px;
  font-size: 15px;
  box-shadow: none;
}

.fifth-section__right-content .form__section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.fifth-section__right-content .form__section label {
  color: #B2D234;
}
.fifth-section__right-content .form__section input {
  width: 100%;
  height: 45px;
  border: 1px solid #606060;
  margin-top: 8px;
}

.footer {
  width: 100%;
  height: 290px;
  background-color: #B2D234;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.footer__logo {
  width: 150px;
  height: auto;
}
.footer__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer__info h3 {
  color: #ffffff;
  margin-bottom: 40px;
}
.footer__info ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
}
.footer__info ul li {
  color: #ffffff;
}

.first-section {
  height: 100vh;
  width: 100%;
  background-image: url("img/background-first_section.png");
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0px;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.first-section__content {
  grid-column: 1/3;
  margin: 150px;
  z-index: 1;
  width: 100%;
}
.first-section__content h2 {
  color: #B2D234;
  margin-bottom: 30px;
}
.first-section__content p {
  color: #606060;
  margin-top: 24px;
  width: 35%;
}
.first-section__content button {
  margin-top: 40px;
}
.first-section__img {
  grid-column: 2;
  grid-row: 1;
}
.first-section__img img {
  z-index: 0;
  position: absolute;
  width: 65%;
  height: auto;
  top: 0;
}

.second-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url("img/ismael-trevino-NDyuR4Huig8-unsplash.png");
  background-size: cover;
}
.second-section__content {
  margin-left: 500px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(178, 210, 52, 0.8);
  background-size: cover;
  padding: 40px 70px;
}
.second-section__content h2 {
  color: #ffffff;
  margin-bottom: 30px;
  text-align: center;
}
.second-section__content p {
  color: #ffffff;
  margin-top: 24px;
  text-align: center;
}
.second-section__content a {
  color: #ffffff;
}
.second-section__content span {
  font-weight: 600;
}
.second-section__content button {
  margin-top: 40px;
}

.fourth-section {
  height: 100vh;
  background-image: url("img/louis-hansel-MlPD-AzZYMg-unsplash.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.fourth-section__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.fourth-section__content__card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 400px;
  padding: 25px 150px;
  margin: 140px 40px;
}
.fourth-section__content__card h2 {
  color: #ffffff;
}
.fourth-section__content__card__list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  width: 100%;
}
.fourth-section__content__card__list ul {
  margin-top: 40px;
}
.fourth-section__content__card__list li {
  color: #ffffff;
  text-align: center;
}
.fourth-section__content .left {
  background-color: rgba(178, 210, 52, 0.8);
  margin-right: 10px;
}
.fourth-section__content .right {
  background-color: rgba(96, 160, 216, 0.8);
  margin-left: 10px;
}

.third-section {
  padding: 80px 150px;
  height: auto;
  background-image: url("img/Grille de répétition 2.png");
  background-position: center;
  background-size: cover;
}
.third-section__block-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
}
.third-section__block-top__title {
  color: #B2D234;
  margin-bottom: 40px;
}
.third-section__block-top__content {
  color: #606060;
  text-align: center;
  width: 65%;
}

.third-section__block-bottom {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 50px;
}
.third-section__block-bottom__menu {
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.third-section__block-bottom__menu__card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
}
.third-section__block-bottom__menu__card__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: #B2D234;
  width: 100%;
}
.third-section__block-bottom__menu__card p {
  color: #606060;
  margin-top: 12px;
}

.check {
  outline: 1px solid #B2D234;
  padding: 12px;
}

.third-section__block-right {
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.third-section__block-right__subtitle {
  transform: rotate(-9deg);
}
.third-section__block-right__subtitle .green {
  color: #B2D234;
}
.third-section__block-right__subtitle .blue {
  color: #60A0D8;
}
.third-section__block-right p {
  color: #606060;
  text-align: center;
  width: 80%;
  margin-top: 90px;
}
.third-section__block-right button {
  margin-top: 90px;
}

.fifth-section {
  margin: 80px 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 64px;
  background-image: url("img/background_Section5.png");
  background-size: repeat;
}
.fifth-section__left-content {
  grid-column: 1;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fifth-section__left-content__img {
  position: relative;
  background-image: url("img/anh-nguyen-_Uqj5BQb-mw-unsplash.png");
  background-size: cover;
  background-position: center;
  width: 530px;
  height: 530px;
}
.fifth-section__left-content .horizontal-bar {
  position: absolute;
  top: 271px;
  height: 8px;
  background-color: #ffffff;
  width: 100%;
}
.fifth-section__left-content .vertical-bar {
  width: 8px;
  background-color: #ffffff;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.fifth-section__right-content {
  padding-right: 120px;
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.fifth-section__right-content__text {
  width: 100%;
}
.fifth-section__right-content__text h2 {
  color: #B2D234;
  margin-bottom: 18px;
}
.fifth-section__right-content__text p {
  color: #606060;
}
.fifth-section__right-content .form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 25px;
  width: 100%;
  margin-top: 30px;
}
.fifth-section__right-content .form .email {
  grid-column: 1/3;
}
.fifth-section__right-content .form .more {
  grid-column: 1/3;
}
.fifth-section__right-content .form .more input {
  height: 200px;
}
.fifth-section__right-content button {
  align-self: center;
  margin-top: 40px;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
