// Bouton de base

@import '../abstracts/variables';
@import '../base/typography';
@import '../abstracts/mixin';


// Liens
%link {
  @extend %header-text;
  color: $White;
  text-decoration: none;

  &:visited{
    color: $White;
  }
}

%button-primary {
  color : $White;
  background-color: $Green;
  border: none;
  outline: none;
  font-size: $Font-Size-h3;
  font-weight: $Font-semi-bold;
  padding: 14px 60px;
  border-radius: 5px;
}

%button-secondary {
  @extend %button-primary;
  background-color: $White;
  color : $Green;
}

%button-header {
  @extend %button-secondary;
  padding: 9px 30px;
}
